#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#* @vtlvariable name="savedPyramids" type="java.util.List" *#
<!DOCTYPE html>
<html data-ng-app="pyramid">
<head>
  <title>Test Pyramid | Pyramids Collection</title>
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap.min.css')" rel="stylesheet">
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap-theme.min.css')" rel="stylesheet">
  <link href="#springUrl('/css/app.css')" rel="stylesheet">

  <script type="text/javascript" src="#springUrl('/vendor/angular/angular.min.js')"></script>
  <script type="text/javascript" src="#springUrl('/js/app.js')"></script>
</head>
<body data-ng-controller="PyramidCtrl as pyramid"
      ng-init='pyramid.initialize( {savedPyramids: $esc.xml($savedPyramids), baseUrl: "#springUrl('')" } )'>
<div class="content">
  <form class="form-horizontal" name="newPyramidForm" novalidate>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="project-name">Project Name</label>
      <input id="project-name" name="projectName" class="col-md-1" data-ng-model="pyramid.name"
             ng-trim required data-ng-maxlength="100">
      <label id="name-error-msg"
             data-ng-show="(newPyramidForm.$submitted || !newPyramidForm.projectName.$pristine)
                   && (newPyramidForm.projectName.$invalid)">
        Size should be from 1 to 100</label></div>

    <div class="form-group" data-ng-repeat="testType in pyramid.testTypes">
      <label for="n-of-{{::testType.id}}" class="col-lg-2 control-label" data-ng-bind="testType.title"></label>
      <input id="n-of-{{::testType.id}}" name="{{::testType.id}}" class="col-md-1" data-ng-pattern="'[0-9]{0,8}'"
             data-ng-model="testType.count" data-ng-change="pyramid.updatePercentage()">
      <label id="{{::testType.id}}-label" data-ng-bind="testType.label"></label>
      <label id="{{::testType.id}}-error-msg" data-ng-show="(newPyramidForm.$submitted || !newPyramidForm[testType.id].$pristine)
                   && (newPyramidForm[testType.id].$invalid)">Numeric value is expected</label></div>
    <div>
      <button id="save-btn" class="btn-primary" data-ng-click="pyramid.savePyramid()"
              data-ng-disabled="newPyramidForm.$invalid">Save</button></div>
  </form>
  <table class="table table-condensed" id="pyramid-list">
    <tr data-ng-repeat="savedPyramid in pyramid.savedPyramids" name="pyramid-row">
      <td name="pyramid-name" data-ng-bind="savedPyramid.name"></td>
      <td name="pyramid-n-of-unit-tests" data-ng-bind="savedPyramid.nOfUnitTests"></td>
      <td name="pyramid-n-of-component-tests" data-ng-bind="savedPyramid.nOfComponentTests"></td>
      <td name="pyramid-n-of-system-tests" data-ng-bind="savedPyramid.nOfSystemTests"></td>
    </tr>
  </table>
</div>
</body>
</html>
