#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#* @vtlvariable name="savedPyramids" type="java.util.List" *#
<!DOCTYPE html>
<html data-ng-app="pyramid">
<head>
  <title>Test Pyramid | Pyramids Collection</title>
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap.min.css')" rel="stylesheet">
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap-theme.min.css')" rel="stylesheet">
  <link href="#springUrl('/css/app.css')" rel="stylesheet">

  <script type="text/javascript" src="#springUrl('/vendor/angular/angular.min.js')"></script>
  <script type="text/javascript" src="#springUrl('/js/app.module.js')"></script>
  <script type="text/javascript" src="#springUrl('/js/app.config.js')"></script>
</head>
<body data-ng-controller="PyramidCtrl as pyramid" class="container"
      ng-init='pyramid.initialize( {savedPyramids: $esc.xml($savedPyramids), baseUrl: "#springUrl('')" } )'>
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#" ng-click="pyramid.showForm()" id="create-pyramid-btn">Create Pyramid</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Test Pyramid</h3>
  <hr>
</div>
<div class="content">
  <form id="pyramid-form" name="newPyramidForm" novalidate class="pull-left ng-hide" ng-show="pyramid.view == 'form'">
    <div name="projectNameLine" class="form-group form-group-sm"
         ng-class="{ 'has-error': (newPyramidForm.$submitted || !newPyramidForm.projectName.$pristine)
                               && (newPyramidForm.projectName.$invalid) }">
      <label class="control-label" for="project-name">Project Name</label>

      <div class="input-group col-sm-7">
        <span class="input-group-addon">*</span>
        <input id="project-name" name="projectName" class="form-control" data-ng-model="pyramid.name"
               ng-trim required data-ng-maxlength="100" maxlength="100" placeholder="Manhattan Project"></div>
      <p id="name-error-msg" class="control-label small">100 characters max</p></div>

    <div class="form-group form-group-sm" data-ng-repeat="testType in pyramid.testTypes"
         ng-class="{ 'has-error': newPyramidForm[testType.id].$invalid }">
      <label for="n-of-{{::testType.id}}" class="control-label" data-ng-bind="testType.title"></label>

      <div class="input-group col-sm-5">
        <input id="n-of-{{::testType.id}}" name="{{::testType.id}}" class="n-of-tests form-control pull-left"
               placeholder="1234" data-ng-pattern="'[0-9]+'" maxlength="8"
               data-ng-model="testType.count" data-ng-change="pyramid.updatePercentage()">
        <span id="{{::testType.id}}-label" class="input-group-addon n-of-tests-percentage"
              data-ng-bind="testType.label"></span>
      </div>
      <p id="{{::testType.id}}-error-msg" class="control-label small n-of-tests-error-msg">Enter numeric value</p>
    </div>

    <div>
      <button id="save-btn" class="btn btn-primary" data-ng-click="pyramid.savePyramid()"
              data-ng-disabled="newPyramidForm.$invalid">Save</button>
    </div>
  </form>
  <table class="table table-condensed pull-left" id="pyramid-list" ng-show="pyramid.view == 'list'">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Units</th>
      <th>Components</th>
      <th>Systems</th>
    </tr>
    </thead>
    <tr data-ng-repeat="savedPyramid in pyramid.savedPyramids" name="pyramid-row">
      <td name="pyramid-name"><a href="#" data-ng-bind="savedPyramid.name" ng-click="pyramid.draw(savedPyramid)"></a></td>
      <td name="pyramid-n-of-unit-tests" data-ng-bind="savedPyramid.nOfUnitTests" class="text-center"></td>
      <td name="pyramid-n-of-component-tests" data-ng-bind="savedPyramid.nOfComponentTests" class="text-center"></td>
      <td name="pyramid-n-of-system-tests" data-ng-bind="savedPyramid.nOfSystemTests" class="text-center"></td>
    </tr>
  </table>
  <canvas id="canvas" width="{{pyramid.canvasSize.width}}" height="{{pyramid.canvasSize.height}}"></canvas>
</div>
</body>
</html>
