<!DOCTYPE html>
<html data-ng-app="pyramid">
<head>
  <title>Test Pyramid | Pyramids Collection</title>
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap.min.css')" rel="stylesheet">
  <link href="#springUrl('/vendor/bootstrap/css/bootstrap-theme.min.css')" rel="stylesheet">

  <script type="text/javascript" src="#springUrl('/vendor/angular/angular.min.js')"></script>
  <script type="text/javascript" src="#springUrl('/js/app.js')"></script>
</head>
<body data-ng-controller="PyramidCtrl as pyramid" ng-init='pyramid.initialize( { savedPyramids: $esc.xml($savedPyramids) } )'>
<div class="content">
  <form>
    <div class="">
      <label for="project-name">Project Name</label>
      <input id="project-name" data-ng-model="pyramid.name">
      </div>
    <div class="">
      <label for="n-of-unit-tests">Number of Unit Tests</label>
      <input id="n-of-unit-tests" data-ng-model="pyramid.unitTests.count" data-ng-change="pyramid.updatePercentage()">
      <label id="unit-tests-label">{{pyramid.unitTests.label}}</label></div>
    <div class="">
      <label for="n-of-component-tests">Number of Component Tests</label>
      <input id="n-of-component-tests" data-ng-model="pyramid.componentTests.count" data-ng-change="pyramid.updatePercentage()">
      <label id="component-tests-label">{{pyramid.componentTests.label}}</label></div>
    <div class="">
      <label for="n-of-system-tests">Number of System Tests</label>
      <input id="n-of-system-tests" data-ng-model="pyramid.systemTests.count" data-ng-change="pyramid.updatePercentage()">
      <label id="system-tests-label">{{pyramid.systemTests.label}}</label></div>
    <div>
      <button id="save-btn" class="btn-primary" data-ng-click="pyramid.savePyramid()">Save</button>
    </div>
  </form>
  <table class="table table-condensed" id="pyramid-list">
    <tr data-ng-repeat="savedPyramid in pyramid.savedPyramids" name="pyramid-row">
      <td name="pyramid-name">{{savedPyramid.name}}</td>
      <td name="pyramid-n-of-unit-tests">{{savedPyramid.nOfUnitTests}}</td>
      <td name="pyramid-n-of-component-tests">{{savedPyramid.nOfComponentTests}}</td>
      <td name="pyramid-n-of-system-tests">{{savedPyramid.nOfSystemTests}}</td>
    </tr>
  </table>
</div>
</body>
</html>
